<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title><%- plc_name %> Administration</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
<link href="/style.css" rel="stylesheet" type="text/css">
<link href="/customStyles.css" rel="stylesheet" type="text/css">

</head>
<body>
    <div id="header">
        <div id="branding">
            <h1 id="site-name">
                <a href="/">
                    Hynesim <%- plc_name %> Debug
                </a>
            </h1>
        </div>
        <div id="user-tools">
            BUGNON FICOT FOLCKE FOURRIER
        </div>
    </div>