<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body>
<div class="dashboard" data-admin-utc-offset="0">
    <div id="container">
        <%- include('../partials/header'); %>
        <div id="content" class="colMS">
            <div id="content-main">
                <%- include('../partials/table'); %>
            </div>
        </div>
        <footer>
            <%- include('../partials/footer'); %>
        </footer>
    </div>
</div>
</body>
</html>