<div id="footer"></div>
<<<<<<< HEAD
<footer>

</footer>
</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="index.js" charset="utf-8"></script>
</body>

</html>
=======
>>>>>>> 438a4a2108ac88cdfcd59ef3479914225988e031
