<meta charset="UTF-8">
<title><%- plc_name %> Administration</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
<link href="/style.css" rel="stylesheet" type="text/css">
<link href="/customStyles.css" rel="stylesheet" type="text/css">