<<<<<<< HEAD
<!DOCTYPE html>
<html lang="en">
<head>
=======
>>>>>>> 438a4a2108ac88cdfcd59ef3479914225988e031
<div id="header">
    <div id="branding">
        <h1 id="site-name">
            <a href="http://localhost:8080/">
                Hynesim <%- plc_name %> Debug
            </a>
        </h1>
    </div>
    <div id="user-tools">
        BUGNON FICOT FOLCKE FOURRIER
    </div>
<<<<<<< HEAD
</div>
</head>
<body>
=======
</div>
>>>>>>> 438a4a2108ac88cdfcd59ef3479914225988e031
