  <%- include('../partials/head'); %>
  <div class="dashboard" data-admin-utc-offset="0">
    <div id="container">
      <header>
        <%- include('../partials/header'); %>
      </header>
      <div id="content" class="colMS">
        <div id="content-main">
          <%- include('../partials/table'); %>
        </div>
      </div>
      <%- include('../partials/footer'); %>
